@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    src:
        local('Inter-Variable'),
        url('Inter-Variable.woff2') format('woff2 supports variations'),
        url('Inter-Variable.woff2') format('woff2-variations');
    font-weight: 410 715;
}