@font-face {
  font-family: "PressStart2P";
  src: local("PressStart2P-Regular"),
    url(PressStart2P-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Variable";
  src: local("Inter-Variable"),
    url(Inter-Variable.woff2) format("woff2 supports variations"),
    url(Inter-Variable.woff2) format("woff2-variations");
  font-weight: 400 785;
  font-display: swap;
}
