@keyframes arrow {
  from {
    inset-inline-start: -16px;
  }
  to {
    inset-inline-start: -12px;
  }
}

@keyframes big-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.theme-toggle {
  transition: opacity 0.5s ease;
}

.theme-toggle:disabled::before {
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-toggle::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.theme-toggle:focus-visible::after {
  transform: scaleX(1);
}

.btn-shad {
  transition: box-shadow 0.3s ease;
}

.like-icon-trigger {
  transition: border 0.3s ease;
}

.like-icon:hover .core {
  transition-delay: 0.03s;
}

.like-icon:hover .main-body,
.like-icon:active .main-body {
  transition-delay: 0.05s;
}

.like-icon .core,
.like-icon .main-body,
.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: big-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}