:root.theme-dark {
    --font-weight-main: 465;
    --font-weight-title: 785;
    --color-bg: rgba(0, 0, 0, 1);
    --color-main: rgba(0, 204, 20, 1);
    --color-heart-cntr: rgba(0, 204, 20, 1);
    --color-heart-mb: #FF0000;
    --color-blend: rgba(0, 204, 20, 1);
    --img-bg: 
        repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

:root.theme-light {
    --font-weight-main: 400;
    --font-weight-title: 700;
    --color-bg: rgba(255, 255, 255, 1);
    --color-main: rgba(0, 0, 0, 1);
    --color-heart-cntr: rgba(0, 0, 0, 1);
    --color-heart-mb: #FF0000;
    --color-blend: rgba(255, 255, 255, 1);
    --img-bg: 
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-weight-main: 465;
        --font-weight-title: 785;
        --color-bg: rgba(0, 0, 0, 1);
        --color-main: rgba(0, 204, 20, 1);
        --color-heart-cntr: rgba(0, 204, 20, 1);
        --color-heart-mb: #FF0000;
        --color-blend: rgba(0, 204, 20, 1);
        --img-bg: 
            repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #007f0c 0.01%, #004306);
    }
}