:root {
  --font-main: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-weight-main: 400;
  --font-weight-title: 700;
  --color-bg: rgba(255, 255, 255, 1);
  --color-main: rgba(0, 0, 0, 1);
  --color-heart-cntr: rgba(0, 0, 0, 1);
  --color-heart-mb: #ff0000;
  --color-blend: rgba(255, 255, 255, 1);
  --img-bg: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
